h2{
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #fff;
    text-transform: uppercase;

}
body{
    background: url(../images/education.jpg)no-repeat;
    background-size: cover;


}
form{
    /*background: url(../images/education.jpg)no-repeat;*/
    background-size: cover;
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    margin: auto;
    max-width: 500px;

}
input[type=text], input[type=password] ,input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin:  0px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #2a9055;
    font-size: 16px;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;

    margin-top: 10px;
    max-width: 500px;
    display: inline-block;


}
.forgetpass a {
    float: left;
    margin-left: 1px;
    color: #b0d4f1;
    font-size: 15px;
}
h1{
    text-align: center;
    font-size: 45px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 7px;
    margin: 50px 50px;

}

.container{
    border: 3px solid #f1f1f1;
    background: rgba(0, 0, 0, 0);
    padding: 16px;
    margin: auto;
    width: 100%;

}
/*input[type="text"]{*/
/*background: url("../images/email.png") no-repeat 382px 11px;*/
/*background-size: 25px;*/
/*}*/
input[type="email"] {
    background: url("../images/email.png") no-repeat 420px 5px;
    background-size: 30px;

}
#email {
     background: url("../images/email.png") no-repeat 420px 5px;
     background-size: 30px;
        width: 100%;
        padding: 12px 20px;
        margin:  0px;
        border: 1px solid #ccc;
        box-sizing: border-box;

 }
input[type="password"] {
    background: url("../images/lock.png") no-repeat 420px 5px;
    background-size: 30px;

}
input[type="text"] {
    background: url("../images/user.png") no-repeat 420px 5px;
    background-size: 30px;

}
/*input[type="submit"]:hover {*/
/*background-color: #d6d8db;*/
/*color: #000000;*/
/*}*/

.cancel:hover{
    background-color: #5cd08d;

}

.register:hover{
    background-color: #5cd08d;
}
.cancel{
    width: 220px;
    float: right;
    background-color: #2a9055;
    font-size: 16px;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    max-width: 500px;
    display: inline-block;
}
.register{
    width: 220px;
    color: white;

}
.alert-warning{
    background: rgba(0, 0, 0, 0);
    color: yellow;
}

/*ad_regis .select{*/
/*background: red;*/
/*}*/
/*.customSelect select {*/
    /*width: 463px;*/
    /*height: 40px;*/
    /*background: rgba(0, 0, 0, 0);*/
    /*padding:  0 12px 0 20px;*/
    /*cursor: pointer;*/
    /*margin-left: 12px;*/
    /*margin-right: 12px;*/
    /*margin-bottom: 8px;*/
    /*border: 1px solid #ccc;*/
    /*text-overline-color: red;*/
/*}*/
/*.customSelect .select:before {*/
    /*content: '';*/
    /*background: white;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*!*width: 40px;*!*/
    /*pointer-events: none;*/
/*}*/
.form-group{
    margin-bottom: 5px;
}
.option{
    background-color: white;
    color: black;
}
